.DS_Store
inst/doc/treebase/cache-doc/
inst/doc/treebase/cache-pdf1/
inst/doc/treebase/cache-upload1/
inst/doc/treebase/figure/
inst/doc/treebase/lineno.sty
inst/doc/treebase/listings.sty
inst/doc/treebase/treebase.docx
inst/doc/treebase/treebase.md
inst/doc/treebase/treebase.ttt
inst/doc/treebase/treebase_boettiger.tex
inst/doc/treebase/treebase_handcrafted_backup.bib
.Rproj.user
.Rhistory
inst/doc
