export(cache_treebase)
export(drop_nontrees)
export(dryad_metadata)
export(have_branchlength)
export(metadata_table)
export(oai_metadata)
export(phylo_metadata)
export(search_metadata)
export(search_treebase)
export(show_metadata)
import(RCurl)
import(XML)
import(ape)
import(data.table)
import(methods)
import(reshape2)
import(utils)
